{% extends "base.html" %}
{% load static %}

{% block title %}Payment was successful{% endblock title %}

{% block content%}
<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
      <h2 class="text-center text-3xl font-extrabold text-gray-900">
        Payment was successful
          <p class="text-xs font-medium text-gray-600">Thank you for purchasing a subscription!</p>
      </h2>
    </div>
  </div>
</div>
{% endblock content %}
